DATABASE_URL="mysql://user@localhost:3306/db_name"
DATABASE_USR=""
DATABASE_PWD=""
DATABASE_DB=""

# JWT secret and expiry settings for authentication. 1 day (e.g. 1y, 1d, 2h, 30m)
JWT_SECRET=""
JWT_ACCESS_TOKEN_EXPIRY="15m"
JWT_REFRESH_TOKEN_EXPIRY="30d"

SMTP_HOST=mail.domain.ro
SMTP_PORT=465
SMTP_USER=no-reply@domain.ro
SMTP_PASS=your_password_here
FROM_EMAIL=no-reply@domain.ro
APP_URL=https://yourdomain.com

ENABLE_APP_GRAPH=false